<div class="left-box">

  <div class="title">
    <span>目標一覧</span>
  </div>
  <div class="goal-list">
    <% current_user.goals.each do |goal| %>
      <div class="goal">
        <span><%=  link_to goal.title, goal_path(goal) %></span>
      </div>
    <% end %>
  <%= form_with model: Goal.new, class: "new-goal" do |f| %>
    <%= f.label "新規目標" %><br>
    <%= f.text_field :title %>
    <%= f.submit "作成" %>
  <% end%>
  </div>
</div>