<div class="main-box">
  <%= render 'shared/side_bar' %>
  <div class="show-goal">
    <div class="title"><%= @goal.title %></div>
    <% @goal.tasks.each do |task| %>
      <%= task.content %>
    <% end %>
    <button id="memo_btn">メモの編集</button>
    <div class="memo"><%= simple_format @goal.content %></div> 
    <%= form_with model: @goal, url: goal_path(@goal), id: "memo_form", class: "hidden" do |f|%>
      <%= f.text_area :content %><br>
      <%= f.submit '変更' %> 
    <% end %>
    <%= form_with url: goal_tasks_path(@goal) do |f| %>
      <%= f.text_field :content %>
      <%= f.submit '送信' %>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'goals/show' %>